/* ====================
CSS RESET 
==================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
  }
  
  html,
  body {
    display: flex;
    height: 100%;
    background: linear-gradient(to right, #FFFFFF, #000000);
    justify-content: center;
  }
  
/* ====================
VISUAL LAYOUT WORK SIMPLE LAYER
==================== */  
#main-card {
    display: flex;
    flex-direction: column;
    max-width: 500px;  
}

header {
    position: fixed;
    display: flex;
    background-color: black;
    height: 80px;
    width: 100%;
    color: white;
    z-index: 10; /* Might not be necessary */
    justify-content: center;
} 

#header-container {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 900px;
    justify-content: space-between;
}

#intro {
    display: flex;
    background-color: white;
    height: 400px;
    width: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
}

#intro h3 {
    text-align: center;
}

#skills {
    background-color: black;
    height: 450px;
    width: 100%;
    color: white;
    text-align: center;
}

#projects {
    background-color: white;
    height: 1000px;
    width: 100%;
    color: black;
    text-align: center;
}

#about {
    background-color: black;
    height: 600px;
    width: 100%;
    color: white;
    text-align: center;
}

#contact {
    background-color: white;
    height: 550px;
    width: 100%;
    color: black;
    text-align: center;
}

#footer {
    background-color: black;
    height: 150px;
    color: white;
    text-align: center;
}

/* ====================
VISUAL LAYOUT SECOND LAYER
==================== */  

/* All header layout stuff */

#header p {
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 1.5em;
}

#nav {
    display: flex;
    min-width: 160px;
    justify-content: space-around;
    align-items: center;
}

#nav a {
    text-decoration: none;
    color: white;
}

#nav a:hover {
    opacity: .5;
}

/* Intro Layout Stuff */
#intro {
    display: flex;
    flex-direction: column;
}
#intro p {
    font-size: 1.5em;
}

#shortcut-btn-container {
    /* border: 2px solid purple; */
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#shortcut-btn-container .shortcut-btn {
    border: 2px solid black; 
    text-align: center;
}

#shortcut-btn-container .shortcut-btn:hover {
    opacity: .5;
    cursor: pointer;
}

/* Skills Layout */

#graphic-container {
    /* border: 2px solid slateblue; */
    height: 85%;
    margin: 15px;
}


/* Projects Layout */

/* Both of these probably will just have a height that ultimately adjusts to the content */

#projects {
    /* border: 2px solid LIME; */
    height: 2500px;
}

.project-container {
    /* border: 2px solid greenyellow; */
}

.project-header {
    margin-bottom: 1rem;
}

.tech-stack {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.tech-used {
    border: 1px solid black;
    text-align: center;
    background-color: gray;
    color: white;
    padding: 1.5px;
    margin: 3px;
}

.collaborators {
    margin-bottom: 1rem;
}

.project-description { 
    height: 20px;
    margin-bottom: 1rem;
}

.note {
    /* border: 2px solid black; */
    height: 20px;
    margin-bottom: 1rem;
}

.btn-container {
    /* border: 2px solid black; */
    height: 20px;
}

.btn-container a {
    border: 2px solid black;
    text-decoration: none;
    color: black;
}

.demo-container {
    border: 2px solid black;
    margin: none;
}

/* ====================
CONTACT SECTION
==================== */  


/* ====================
SHARED CSS PROPERTIES
==================== */  

.section-header {
    /* border: 2px solid lightsalmon; */
    margin: 10px;
    font-size: 24px;
}

.text-pop {
    color: #07aa0f;
}

.input {
    margin: 10px;
    width: 80%;
    height: 30px;
}

/* ====================
BREAKPOINTS
==================== */

/* For Tablets */
@media (min-width: 576px) {
    #main-card {    
        max-width: 700px;
        margin: 0 auto;
    }
}

/* For Desktops */

@media (min-width: 900px) {
    #main-card {
        max-width: 1000px;
    }
}